Package: slither
Version: 0.0.40a
Section: science
Priority: optional
Architecture: i386
Depends: libwxgtk2.8-0, libwxbase2.8-0, libcv1 (>= 1.0.0), libhighgui1 (>= 1.0.0), libcvaux1 (>= 1.0.0)
Maintainer: Kip Warner <kip@thevertigo.com>
Description: Track the movement of C. elegan worms in a laboratory environment. 
 You can either use video footage you've already captured from your dissection 
 microscope camera, or you can allow Slither to capture new footage for you.
 .
 It is being developed by Kip Warner under the Small Neural Systems Group of Dr.
 Catharine Rankin, at the Brain Research Centre located at the University of 
 British Columbia.
 .
 Slither is released under the GNU General Public License and is available for 
 Linux, Windows, and Mac OS X. Accessibility is important, and thus porting to 
 other operating systems is encouraged.
 .
 Homepage: http://slither.thevertigo.com
