Source: slither
Section: science
Priority: optional
Maintainer: Kip Warner <kip@thevertigo.com>
Standards-Version: 4.3.0.0
Build-Depends:
    autoconf-archive (>= 20170321),
    autopoint (>= 0.19.8.1),
    coreutils (>= 8.23),
    debhelper-compat (= 11),
    dh-exec,
    g++-9,
    gettext (>= 0.19.8.1),
    libopencv-dev,
    libopencv-highgui-dev,
    libwxgtk3.0-gtk3-dev,
    libwxgtk-media3.0-gtk3-dev,
    libstdc++6 (>= 7.2.0),
    lintian,
    pkg-config (>= 0.28),
    po-debconf,
    valgrind,
    wx-common (>= 3.0)
Vcs-Git: https://github.com/kiplingw/slither
Vcs-browser: https://github.com/kiplingw/slither
Homepage: https://github.com/kiplingw/slither
Rules-Requires-Root: no

Package: slither
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends}
Description: track the movement of C.elegans worms in a laboratory environment
 Slither is an application designed to track the movement of C. elegan worms in
 a laboratory environment. You can either use video footage you've already
 captured from your dissection microscope camera, or you can allow Slither to
 capture new footage for you.
 .
 It was developed under the Small Neural Systems Group of Dr. Catharine Rankin
 at the Brain Research Centre located at the University of British Columbia.
 .
 Slither is released under the GNU General Public License version 3 or later.

